.talkingToPlayer {
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
}
.won {
  color: green;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}
.lost {
  color: red;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}
.pirate {
  /*piratey text and shit*/

}
#fightPirates {

}
button {
  padding-top: 30px;
}
.container {
	height: 425px;
	width: 489px;
	background-color: #898A9A;
	margin: 0 auto;
	padding: 10px 1px 1px 2px;
}
.square {
	height: 100px;
	width: 120px;
	float: left;
	margin: 2px 1px 0px 1px;
	border-radius: 5px;
	box-sizing: border-box;
}
.image {
	height: 100px;
	width: 120px;
	float: left;
	border: 1px solid black;
	border-radius: 5px;
	visibility: hidden;
}
#ocean {}
