html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
footer {
  margin-top: 20px;
}
p {
  font-size: 15px;
}
.atlanticOcean {
  width: 80%;
  background-color: #4B648A;
  margin: 0 auto;
  overflow: auto;
  border: 1px solid #051937;
}
/*.wave {
  border: 1px solid black;
}*/
.covered {
  background-color: black;
}
.gameSquare {
  height: 60px;
  width: 10%;
  float: left;
  padding-top: 10%;
  /*margin: 0.5% 0.5% 0px 0px;*/
  border: 1px solid #051937;
}
.ship {
  background-color: red;
}
.twitterBox {
  border: 1px solid #051937;
}
.scoreboard {
  font-size: 25px;
}
.score {
font-size: 30px;
font-weight: bold;
}
.talkingToPlayer {
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.won {
  color: green;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}
.lost {
  color: red;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}
.pirate {
  /*piratey text and shit*/

}
